@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Regular.woff') format('woff');
}

.filters-box {
  box-shadow: 0px 12px 48px rgba(0, 0, 0, 0.15);
}

.content-container {
  height: calc(100vh - 56px - 48px);
}

body {
  padding: 0;
  height: 100vh;
}
